.red {
  color: red;
}

.red[aria-selected='true'] {
  border-bottom-color: red;
}

.orange {
  color: orange;
}

.orange[aria-selected='true'] {
  border-bottom-color: orange;
}

.yellow {
  color: yellow;
}

.yellow[aria-selected='true'] {
  border-bottom-color: yellow;
}

.blue {
  color: blue;
}

.blue[aria-selected='true'] {
  border-bottom-color: blue;
}
ul {
  list-style: none;
}

.circle{
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  background-color: #9683f7;
  margin-right: 5px;
}
.accordionTitle{
  display: flex;
    align-items: center;
}
details{
  background: black !important;
  border-color: #444 !important;
}
details > div > div{
  border-color: #9683f7 !important;
}
details > summary::before{
  border-color: transparent transparent transparent #9683f7 !important;
}


.button{
  background-color: #5865f2;
  border-radius: 10rem;
  color: #fff;
  font-size: 1rem;
  letter-spacing: .10rem;
  padding: .9rem 1.5rem;
  position: relative;
  float: right;
  text-transform: uppercase;
  transition: all .3s;
  border: 1px solid #4752c4;
}

.button:hover{
  background-color: #4752c4;
}

.buttonLink{
  color: white;
  display: flex;
  font-size: medium;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-content: center;
  width: 100%;
}