/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0a0a0a;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9683f7;
}
body{
  background-color: #1b1b1d;
}
footer{
  background-color: #0a0a0a;
  padding: 2rem 1rem;
}
.container > div{
  display: "flex";
  justify-content: "space-between"
}
.hero{
  background-color: #0a0a0a;
  color: white;
}
.hero.title {
  font-size: 5rem;
}

.buttons_src-pages-index-module {
  gap: 10px;
}

.navbar {
  background-color: #0a0a0a;
  border-bottom: 1px solid #3a3a3a;
}

main{
  background-color: #0a0a0a !important;
}
a{
  font-weight: 500 !important;
  text-decoration: none !important;
}
.homeCard {
  align-items: center;
  background: #0a0a0a;
  border-radius: var(--theme-card-border-radius);
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  padding: 2rem;
  width: 350px;
  border: 1px solid #444;
  border-radius: 0.5rem;
}
.homeCard p{
  color: gray;
  min-height: 60px;
  font-weight: 500;
}
.homeCard-img{
  width: 100px;
}
.homeCard-title {
  color: white
}

.content-homeCard {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.hero__subtitle{
  margin-bottom: 2rem;
  color: #9a9a9a;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  list-style-type: none;
  margin: 0 0 2rem;
  padding: 0;
  text-align: left;
  width: 100%;
}

.listItem {
  color: #b1b5d3;
  font-size: var(--font-size-normal);
}

.listItem::before {
  color: #9683f7;
  content: "➤";
  margin-right: 0.5rem;
}
.container-footer > div{
  display: flex;
  justify-content: space-between;
}
.container-footer > div > div{
  display: flex;
  place-items: center;
  justify-content: center;
}
.container-footer > div > div div{
  margin-right: 2rem;
}
@media screen and (max-width: 600px) {
  .container-footer > div{
    display: block;
  }
  .container-footer > div >div:nth-child(2){
    margin-top: 1rem;
    display: block;
    text-align: center;
  }
  .container-footer > div >div:nth-child(2) div{
    padding: 5px
  }
}
.link {
  color: #fff;
  font-size: var(--font-size-normal);
  font-weight: 500;
  margin-top: auto;
  text-decoration: none;
  text-transform: uppercase;
  opacity: .85;
  color: white;
  text-decoration: none;
  transition-duration: .3s;
  border: 1px solid #444;
  width: 100%;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  display: block;
}

.link:hover {
  text-decoration: none;
  color: white;
  opacity: 1;
}

.navbar__link {
  color: white
}

.navbar__link:hover {
  color: #9683f7
}
main{
  background-color: #9683f7;
  color: white;
}

.fancy-hover {
  z-index: 2;
  position: relative;
  display: inline-block;
  padding: 20px 32px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.4);
  margin-bottom: 32px;
  border-radius: 8px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-delay: 0.03s;
}

.fancy-hover:hover {
  background-color: #211b1d;
  border: none;
  transform: scaleY(1) scaleX(1) translateY(-25px);
  box-shadow: 0 0 0 2px #9683f7, 0 4px 10px rgba(255, 0, 98, 0.231);
}
.content-hero{
  height: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #0a0a0a;
}